.timer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  color: #000;
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  padding: 8px 0 0 8px;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5px;
  background-color: #009321;
  transform-origin: 0 50%;
  animation: progress 60s linear;
}

@keyframes progress {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0, 1);
  }
}
