@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:500&subset=cyrillic,cyrillic-ext);

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
  src:
          url('/react/build/fonts/Montserrat-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src:
          url('/react/build/fonts/Montserrat-Light.ttf') format('ttf');
}


@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src:
          url('/react/build/fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src:
          url('/react/build/fonts/Montserrat-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  src:
          url('/react/build/fonts/Montserrat-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src:
          url('/react/build/fonts/Montserrat-Bold.ttf') format('ttf');
}


