@import '~antd/dist/antd.css';
@import "../../styles/fonts.scss";

.login {
  padding: 20% 5% 0;

  @media (min-width: 769px) {
    padding: 10% 0 0;
    background-size: contain;
  }
}

.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 40px;
  text-align: center;

  @media (min-width: 769px) {
    font-weight: 700;
    font-size: 62px;
    line-height: 60px;
  }
}

.subtitle {
  text-align: center;
  font-weight: 300;
  margin-bottom: 15px;
}

.wrap {
  background-color: #111215;
  max-width: 470px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 15.6457px 31.2913px rgba(35, 23, 5, 0.26);
}

.label {
  color: rgba(255, 255, 255, 0.64);
  width: 150px;
  background: none;
  padding: 0;
  border: none;
  font-weight: 500;
  font-size: 11px;
}

.button {
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 0 13px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.64);
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.64);
    border: 2px solid #27EE53;
  }
}

.inputWrap {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 5px;
  margin: 10px;
  margin-left: 0;
  background: rgba(255, 255, 255, 0.05);
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  outline: none;
  color: #fff;
  transition-duration: 0.5s;

  &:hover {
    border: 3px solid #27EE53;
    transition-duration: 0.5s;
    background: none;
  }

  &:active {
    border: 3px solid #27EE53;
    color: #fff;
    background: none;
  }

  &:focus {
    transition: color 5000s, background-color 5000s ease-in-out 0s;
  }
}

.admin {
  padding: 0;
  background: none;

  &:hover {
    background: none;
    color: #27EE53;
    border: none;
    text-decoration: underline;
  }
}
